#favoritos{
   
    width: 80vw;
    margin-top: $margin;
    margin-bottom: $margin;
}
.title{
    font-size: map-get($fs, normal);
    font-family: $font-title;
    font-weight: bold;
    text-align: left !important;
    color: $color-subtitle;
    grid-area: title;
}
#mas-vendidos, .recomendados{
    @include grid(3, 2);
    width: 100%;
    gap: $margin;
}
.card{
    @include flexbox( row, center, center);
    flex-wrap: wrap;
}
.favorites{
    width: 100%;
    img{
        width: 35vw;
        height: auto;
    }
    .details{
        /* @include flexbox(row, center, center);
        flex-wrap: nowrap; */
        width: 35vw;
        font-size: map-get($fs, small );
        font-family: $font-normal;
        font-weight: 300;
        color: $color-main;
        
    }
}
.price-like{
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .precio{
        font-size: map-get($fs, normal );
        font-weight: bold;
        padding: .5em 2em .2em .5em;
    }
}
.name{
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    padding: .2em 2em .5em .5em;
}

.seller-details{
    display: inherit;
    align-items: center;
    margin: 0;
    .avatar{
            width: 15px;
            height: 15px;
            border: $border-avatar;
            border-radius: 50%;
            padding-right: 5px;
    }
    .seller{
        font-size: map-get($fs, small);
        font-family: $font-normal;
        color: $color-main;
    }
}