//Font-sizes
$fs : (
    x-small: 10px,
    small: 12px,
    normal: 16px,
    large: 28px,
    x-large: 36px
);

//  *   MAIN  *
$bg-main: #ffffff;
$color-main: #527466;
$color-title: #245349;
$colot-subtitle:#3f7c6f;
//  *   HEADER  *
//Colors Backgrounds
$bg-header: #b9ded6;
$bg-signup: #c9f3db;
$bg-signin: transparent;

//Colors Fonts
$color-signup: #54b67d;
$color-signin: #2b6b48;

//  *   PROMOCIONES  *
//Colors Backgrounds
$bg-promotions: #ecf5f0;

//Colors Fonts
$color-promotions: #24332c;

//  *   VENDER  *
//Colors Backgrounds
$bg-selling: #ecf5f0;

//Colors Fonts
$color-selling: #146b41;

//  *   FAVORITOS  *
//Colors Backgrounds
$bg-cards: #f3feed;

//Colors Fonts
$color-cards: #262922;

//  *   FOOTER  *
//Colors Backgrounds
$bg-footer: #b9ded6;
$bg-copy: #1c2522;

//Colors Fonts
$color-copy: #ffffff;

